In [1]:
import pandas as pd
names=pd.Series(['Alice','Bob','Charlie','David','Eve'])
ages=pd.Series([25,32,28,45,29])
cities=pd.Series(['Newyork','San francisco','Los angeles','chicago','Miami'])

In [3]:
data={
    'Name':names,
    'Age':ages,
    'City':cities
}

In [4]:
df=pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25        Newyork
1      Bob   32  San francisco
2  Charlie   28    Los angeles
3    David   45        chicago
4      Eve   29          Miami