In [1]:
import pandas as pd

In [2]:
data={
    'Empno':[101,102,103,104,105],
    'Fname':['Pawan','Nithesh','Ronith','Swasthik','Preetham'],
    'Qualification':['CS','Diplom','Engineering','IAS','Bcom'],
    'Subject':['CS','Mech','CE','EC','AM']
}

In [4]:
df=pd.DataFrame(data)
print(df)

   Empno     Fname Qualification Subject
0    101     Pawan            CS      CS
1    102   Nithesh        Diplom    Mech
2    103    Ronith   Engineering      CE
3    104  Swasthik           IAS      EC
4    105  Preetham          Bcom      AM